:root {
    --clr-principal: #2E4053;
    --clr-negro: #0d0d0d;
    --clr-blanco: #ececec;
    --clr-gris: #e2e2e2d2;
    --clr-naranja: #b46023;
}
:root {
    --clr-principal-dark:#4D5656;
    --clr-fondo: #99A3A4;
    --clr-letras: #ececec;
    --clr-gris: #e2e2e2d2;
    --clr-hover:#F5B7B1 ;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--clr-principal)
}
body.dark header{
    background-color: var(--clr-principal-dark);
}

.logo {
    padding: 1rem;
    background-color: var(--clr-principal);
    color: var(--clr-blanco);
}
body.dark .logo{
    background-color: var(--clr-principal-dark);
    color: var(--clr-hover);
}
.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.wrapper {
    background-color: var(--clr-blanco);
    align-self: center;
}
body.dark .wrapper{
    background-color: var(--clr-fondo);
}

.menu {
    background-color: var(--clr-principal);
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
body.dark .menu{
    background-color: var(--clr-principal-dark);
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-blanco);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    border-radius: .25rem;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}
body.dark .boton-menu{
    background-color: transparent;
    color: var(--clr-hover);
}
.boton-menu.active {
    background-color: var(--clr-blanco);
    color: var(--clr-principal);
    
}
body.dark .boton-menu.boton-menu.active{
    background-color: var(--clr-hover);
    color: var(--clr-principal-dark);
}
.contador {
    background-color: var(--clr-blanco);
    color: var(--clr-principal);
    padding: .15rem .25rem;
    border-radius: .25rem;
    
}
body.dark .contador{
    background-color: var(--clr-hover);
    color: var(--clr-principal);
}

.boton-carrito.active .contaddor {
    background-color: var(--clr-principal);
    color: var(--clr-blanco);
}
body.dark .boton-carrito.active .contaddor{
    background-color: var(--clr-principal);
    color: var(--clr-fondo);
}
main {
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.encabezado {
    color: var(--clr-principal);
    margin-bottom: 2rem;
}
body.dark .encabezado{
    color: var(--clr-hover); 
}
.produc-detail {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.image-p {
    align-self: center;
    max-width: 100%;
    border-radius: 1rem;
}

.detail-p {
    background-color: var(--clr-principal);
    color: var(--clr-blanco);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: 0rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
body.dark .detail-p{
    background-color: var(--clr-principal-dark);
    color: var(--clr-hover);
}

.nam-p {
    font-size: 1rem;
}

.sum-product {
    border: 0;
    background-color: var(--clr-blanco);
    color: var(--clr-principal);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-blanco);
    transition: .2s, color .2s;
}
body.dark .sum-product{
    background-color: var(--clr-hover);
    color: var(--clr-principal);
    border: 2px solid var(--clr-principal-dark);
}

.sum-product:hover {
    background-color: var(--clr-naranja);
    color: var(--clr-blanco);
}
body.dark .sum-product:hover{
    background-color: var(--clr-fondo);
    color: var(--clr-hover); 
}

/** footer **/
footer{
    position: static ;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--clr-principal);
    height: auto;
    width: 100vw;
    font-family: "Rubik";
    padding-top: 40px;
    color: var(--clr-blanco);
}
body.dark footer{
    background: var(--clr-principal-dark);
    color: var(--clr-blanco);
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: var(--clr-blanco);
}
body.dark .socials a{
    color: var(--clr-blanco);
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: var(--clr-naranja);
}
body.dark .socials a:hover i{
    color: var(--clr-hover);
}
/** CARRITO **/

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.empty-c,
.carrito-comprado {
    color: var(--clr-negro);
    font-size: x-large;
    
}

body.dark .empty-c, .carrito-comprado{
    color: var(--clr-hover);
}
.ca-p-ag {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gris);
    color: var(--clr-negro);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}
body.dark .carrito-producto {
    background-color: var(--clr-gris);
    color: var(--clr-negro);
}

.carrito-image-p {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.elim-p {
    border: 0;
    background-color: transparent;
    color: var(--clr-negro);
    cursor: pointer;
}
body.dark .elim-p {
    color: var(--clr-negro);
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}
.restar, .sumar{
    cursor: pointer;
}

.limpiar-c {
    border: 0;
    background-color: var(--clr-naranja);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-blanco);
    text-transform: uppercase;
    cursor: pointer;
}
body.dark .limpiar-c {
    background-color: var(--clr-hover);
    color: var(--clr-blanco);
}
.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gris);
    padding: 1rem;
    color: var(--clr-negro);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 3rem;
}
body.dark .carrito-acciones-total {
    background-color: var(--clr-gris);
    color: var(--clr-negro);
}
.compra-t {
    border: 0;
    background-color: var(--clr-naranja);
    padding: 1rem;
    color: var(--clr-blanco);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
body.dark .compra-t {
    background-color: var(--clr-hover);
    color: var(--clr-blanco);
}

.disabled {
    display: none;
}
.abrir-menu,
.cerrar-menu {
    display: none;
}
.footer{
    background-color: var(--clr-principal);
    padding: 0%;
    display: subgrid;
}
body.dark .footer{
    background-color: var(--clr-principal);
}
/* dark-mode*/
.switch {
    background: var(--clr-principal);
    border-radius: 1000px;
    border-color: var(--clr-blanco);
    border: none;
    position: relative;
    cursor: pointer;
    
    display: flex;
    outline: none;
}
  
.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: var(--clr-blanco);
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
  
.switch.active {
    background: var(--clr-hover);
    color: var(--clr-negro);
}
  
.switch.active::after {
    right: 0;
    left: unset;
  }
  
.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: var(--clr-blanco);
}




/****** menu responsive ******/


@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: var(--clr-blanco);
    }

    body.dark .abrir-menu {
        color: var(--clr-hover);
    }

    .cerrar-menu {
        color: var(--clr-blanco);
    }
    body.dark .cerrar-menu {
        color: var(--clr-hover);
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--clr-principal);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    body.dark .nav {
        background-color: var(--clr-principal-dark);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.794);
    }
    .produc-detail{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-list li a {
        color: var(--clr-blanco);
    }
    body.dark .nav-list li a {
        color: var(--clr-hover);
    }
}
